<template>
  <div class="app">
    <center>
    <ValidationObserver ref="observer">
    <br />
    <label class="title">Cadastro de Animais</label>
    <div class="column is-12">
      <label class="subtitle" id="subtitle">Instruções</label>
    </div>
    <br>
    <div class="message-body is-12">
      1. Cadastre os dados solicitados referentes aos animais.<br />
      2. Finalize o cadastro.
    </div>
    <br />
    <div class="column is-12">
      <label class="subtitle" id="subtitle">
        Cadastro - Dados dos animais
      </label>
    </div>
    <div class="dados">
      <div class="columns is-12" id="columns">
        <div class="column is-3">
          <label id="lbl_form"
            >Nome científico: <a class="asterisco">*</a></label
          >
          <ValidationProvider rules="required" name="Nome Científico">
          <div slot-scope="{errors}">
          <input
            type="text"
            :class="{'input': true, 'is-danger': errors[0] }"
            placeholder="Ex: Leontopithecus"
            id="input"
            style="width: 210px"
            v-model="animals.scientificName"
            required
          /> <p class="help is-danger">{{ errors[0] }}</p>
          </div></ValidationProvider>
        </div>
        <div class="column is-3">
          <label id="lbl_form">Nome popular: <a class="asterisco">*</a></label>
          <ValidationProvider name="Nome Popular">
          <div slot-scope="{errors}">
          <input
            type="text"
            :class="{'input': true, 'is-danger': errors[0] }"
            placeholder="Ex: Mico-Leão"
            id="input"
            style="width: 210px"
            v-model="animals.name"
            required
          /> <p class="help is-danger">{{ errors[0] }}</p>
          </div></ValidationProvider>
        </div>
        <div class="column is-3">
          <label id="lbl_form"
            >Filo do animal: <a class="asterisco">*</a></label
          >
          <ValidationProvider name="Filo">
          <div slot-scope="{errors}">
          <input
            type="text"
            :class="{'input': true, 'is-danger': errors[0] }"
            placeholder="Ex: Chordata"
            id="input"
            style="width: 210px"
            v-model="animals.phylum"
            required
          /><p class="help is-danger">{{ errors[0] }}</p>
          </div></ValidationProvider>
        </div>
        <div class="column is-3">
          <label id="lbl_form"
            >Classe do animal: <a class="asterisco">*</a></label
          >
          <ValidationProvider name="Classe">
          <div slot-scope="{errors}">
          <input
            type="text"
            :class="{'input': true, 'is-danger': errors[0] }"
            placeholder="Ex: Mamífero"
            id="input"
            style="width: 210px"
            v-model="animals.className"
            required
          /> <p class="help is-danger">{{ errors[0] }}</p>
          </div></ValidationProvider>
        </div>
        <div class="column is-3">
          <label id="lbl_form"
            >Habitat natural: <a class="asterisco">*</a></label
          >
          <ValidationProvider name="Habitat">
          <div slot-scope="{errors}">
          <input
            type="text"
            :class="{'input': true, 'is-danger': errors[0] }"
            placeholder="Ex: Mata Atlântica"
            id="input"
            style="width: 210px"
            v-model="animals.habitat"
            required
          /> <p class="help is-danger">{{ errors[0] }}</p>
          </div> </ValidationProvider>
        </div>
        <div class="column is-3" id="columns">
          <label id="lbl_form"
            >Hábito alimentar:<a class="asterisco">*</a></label
          >
          <ValidationProvider name="Alimentação">
          <div slot-scope="{errors}">
          <input
            type="text"
            :class="{'input': true, 'is-danger': errors[0] }"
            placeholder="Ex: Herbívoro"
            id="input"
            style="width: 210px"
            v-model="animals.alimentation"
            required
          /><p class="help is-danger">{{ errors[0] }}</p>
          </div></ValidationProvider>
        </div>
        <div class="column is-3" id="columns">
          <label id="lbl_form"
            >Hábito diurno/noturno: <a class="asterisco">*</a></label
          >
          <ValidationProvider name="Hábito">
          <div slot-scope="{errors}">
          <input
            type="text"
            :class="{'input': true, 'is-danger': errors[0] }"
            placeholder="Ex: Diurno"
            id="input"
            style="width: 210px"
            v-model="animals.clockHabit"
            required
          /><p class="help is-danger">{{ errors[0] }}</p>
          </div></ValidationProvider>
        </div>

        <!--<div class="columns is-12">-->
        <div class="column is-3">
          <ValidationProvider name="Longevidade" rules="between:0,200">
          <div slot-scope="{errors}">
          <label id="lbl_form">Longevidade (anos): <a class="asterisco">*</a></label>
          <input
            type="number"
            :class="{'input': true, 'is-danger': errors[0] }"
            placeholder="Ex: 15"
            id="input"
            style="width: 210px"
            v-model="animals.lifeExpectancy"
            
            required
          /><p class="help is-danger">{{ errors[0] }}</p>
          </div></ValidationProvider>
        </div>
        <div class="column is-3">
          <label id="lbl_form">Foto do animal:</label>
          <input type="file" name="image" accept="image/png, image/jpeg, image/jpg" @change = "image($event)" required/>          
        </div>
      </div>
    </div>
    <br />
    <div class="botao">
      <button
        class="button is-outlined"
        style="width: 300px"
        id="btn"
        @click="cadastraranimal"
      >
        Confirmar
      </button>
    </div>
    </ValidationObserver>
    </center>
  </div>
</template>
<script>
import { cadastraranimal } from "../services/auth.js";
export default {
  name: "CadastroAnimal",
  data() {
    return {
      animals: {
        alimentation: "",
        className: "",
        clockHabit: "",
        habitat: "",
        lifeExpectancy: "",
        name: "",
        phylum: "",
        scientificName: "",
        image: "",
      },
      files:[]
    };
    
  },
  methods: {
    image(event){
      this.animals.image = event.target.files[0];
    },
    async cadastraranimal() {
      const testValidate = await this.$refs.observer.validate();
      if(testValidate)
      {
      const formData = new FormData();

      formData.set("image", this.animals.image);

      Object.keys(this.animals).forEach((key) => {
        if (this.animals[key] && this.animals[key].length) {
          formData.set(key, this.animals[key]);
        }
      });

      cadastraranimal(formData)
        .then(() => {
          this.$swal('Animal cadastrado com sucesso!','','success')
          console.log(this.animals)})
        .catch((error) => {
          this.$swal('Erro ao cadastrar animal!','Verifique os dados inseridos','error')
          console.log(error)});
          }
          else
          {
            this.$swal('Erro ao cadastrar animal','Insira corretamente os valores nos campos!','error')
          }
    },
  },
};
</script>
<style>
@import url(https://fonts.googleapis.com/css?family=Montserrat);

.title {
  font-size: 30px;
  align-self: center;
}

.subtitle {
  font-family: Montserrat;
  float: left;
  align-self: flex-start;
  width: 95%;
  text-align: left;
  margin-left: 3%;
}

#lbl_form
{
  font-size: 18px;
}

#subtitle {
  font-size: 30px;
  color: green;
}

.C {
  font-family: Montserrat;
  position: relative;
  top: 122.5%;
  transform: translateY(22.5%);
}

.control {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: center;
}

.control {
  width: 460px;
}

.form-gerenciar {
  height: 350px;
}

.app {
  font-family: Montserrat;
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.column {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 40px;
}

.columns {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.botao {
  align-self: center;
  margin-bottom: 3%;
}

.button {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 142, 6);
  font-size: 20px;
  font-family: Montserrat;
}

.button:hover {
  color: chartreuse;
}

.message-body {
  font-family: Montserrat;
  color: rgb(156, 152, 152);
  align-self: flex-start;
  text-align: left;
  margin-left: 3%;
  font-weight: bold;
  font-size: 20px;
}

#btn {
  background-color: green;
  color: white;
  border: green;
}

#button {
  margin-block-end: 2%;
  margin-block-start: 2%;
  background-color: green;
  color: white;
}

#button_confirmar {
  margin-block-end: 2%;
  background-color: green;
  color: white;
}
</style>