<template>
  <div class="app">
    <ValidationObserver ref="observer">
    <br />
    <label class="title">Cadastro</label>
    <div class="column is-12">
      <label class="subtitle" id="subtitle">Instruções</label>
    </div>
    <br>
    <div class="message-body is-12">
      1. Cadastre os dados básicos do zoológico.
      <br />2. Escolha os dados a serem apresentados. <br />3. Adicione mais
      campos de acordo com sua preferência. <br />4. Finalize o cadastro.
    </div>
    <br />
    <div class="column is-12">
      <label class="subtitle" id="subtitle">
        Dados da instituição</label
      >
    </div>
    <center>
    <div class="dados">
      <div class="columns is-12">

        <div class="column is-2">
        <ValidationProvider name="Nome" rules="required">
          <div slot-scope="{errors}">
          <label id="lbl_form">Nome: <a class="asterisco">*</a></label>
          <br>
          <input
            type="text"
            :class="{'input': true, 'is-danger': errors[0] }"
            placeholder="Ex: Zoológico Zoodex"
            id="input"
            style="width: 170px"
            v-model="zoo.name"
            required
          /> <p class="help is-danger">{{ errors[0] }}</p>
        </div>
        </ValidationProvider></div>

      <div class="column is-2">
        <ValidationProvider rules="min:18|required" name="CNPJ">
          <div slot-scope="{errors}">
          <label id="lbl_form">CNPJ: <a class="asterisco">*</a></label>
          <br>
          <input
            type="text"
            :class="{'input': true, 'is-danger': errors[0] }"
            placeholder="Ex: 00.000.000/0000-00"
            id="input"
            style="width: 170px"
            v-model="zoo.cnpj"
            v-mask="['##.###.###/####-##']" 
            required
          /><p class="help is-danger">{{ errors[0] }}</p>
        </div>
        </ValidationProvider></div>

        <div class="column is-2">
          <ValidationProvider name="Email" rules="required|email">
            <div slot-scope="{errors}">
          <label id="lbl_form" for="email" >E-mail: <a class="asterisco">*</a></label>
         <br>
         <input
            type="text"
            name="email"
            :class="{'input': true, 'is-danger': errors[0] }"
            placeholder="Ex: exemplo@gmail.com"
            id="email"
            style="width: 170px"
            v-model="zoo.email"
            required
          />  <p class="help is-danger">{{ errors[0] }}</p>

        </div></ValidationProvider></div>
         
        <div class="column is-2">
          <ValidationProvider name="Senha" rules="required|min:5|max:15">
            <div slot-scope="{errors}">
          <label id="lbl_form">Senha: <a class="asterisco">*</a></label>
          <br>
          <input
            type="password"
            :class="{'input': true, 'is-danger': errors[0] }"
            placeholder="Insira a senha"
            id="input"
            style="width: 170px"
            v-model="zoo.password"
            maxlength="15"
            required
          /><p class="help is-danger">{{ errors[0] }}</p>
            </div>
          </ValidationProvider> 
        </div>

        <div class="column is-2">
          <ValidationProvider name="ConfirmaSenha" rules="required|min:5|max:15">
            <div slot-scope="{errors}">
          <label id="lbl_form"
            >Confirma senha: <a class="asterisco">*</a></label
          >
          <input
            type="password"
            :class="{'input': true, 'is-danger': errors[0] }"
            placeholder="Confirme a senha"
            id="input"
            style="width: 170px"
            v-model="zoo.confirm"
            maxlength="15"
            required
          /><p class="help is-danger">{{ errors[0] }}</p>
        </div>
        </ValidationProvider> 
          </div>
          
      </div>
    </div><br><br>

        <div class="column is-12">
      <label class="subtitle" id="subtitle">
        Endereço</label
      > </div>
    <div class="dados">
             <div class="column is-2" id="columns">
          <label id="lbl_form">Estado: <a class="asterisco">*</a></label>
          <ValidationProvider name="Estado" rules="required">
            <div slot-scope="{errors}">
         <div class="select">
          <select name="estados-brasil" v-model="zoo.address.state">
            <option value="AC">Acre</option>
            <option value="AL">Alagoas</option>
            <option value="AP">Amapá</option>
            <option value="AM">Amazonas</option>
            <option value="BA">Bahia</option>
            <option value="CE">Ceará</option>
            <option value="DF">Distrito Federal</option>
            <option value="ES">Espírito Santo</option>
            <option value="GO">Goiás</option>
            <option value="MA">Maranhão</option>
            <option value="MT">Mato Grosso</option>
            <option value="MS">Mato Grosso do Sul</option>
            <option value="MG">Minas Gerais</option>
            <option value="PA">Pará</option>
            <option value="PB">Paraíba</option>
            <option value="PR">Paraná</option>
            <option value="PE">Pernambuco</option>
            <option value="PI">Piauí</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="RN">Rio Grande do Norte</option>
            <option value="RS">Rio Grande do Sul</option>
            <option value="RO">Rondônia</option>
            <option value="RR">Roraima</option>
            <option value="SC">Santa Catarina</option>
            <option value="SP">São Paulo</option>
            <option value="SE">Sergipe</option>
            <option value="TO">Tocantins</option>
        </select> <p class="help is-danger">{{ errors[0] }}</p>
         </div>
</div>
          </ValidationProvider>
        </div>
          
          <div class="column is-2">
          <label id="lbl_form">Cidade: <a class="asterisco">*</a></label>
          <ValidationProvider rules="required" name="Cidade">
            <div slot-scope="{errors}">
          <input
            type="text"
             :class="{'input': true, 'is-danger': errors[0] }"
            placeholder="Ex: Bauru"
            id="input"
            style="width: 170px"
            v-model="zoo.address.city"
            required
          /><p class="help is-danger">{{ errors[0] }}</p>
        </div>
        
          </ValidationProvider>
          </div>

          <div class="column is-2">
          <ValidationProvider rules="min:9|required" name="CEP">
          <div slot-scope="{errors}">
          <label id="lbl_form">CEP: <a class="asterisco">*</a></label>
          <input
            type="text"
            :class="{'input': true, 'is-danger': errors[0] }"
            placeholder="Ex: 00000-000"
            id="input"
            style="width: 170px"
            v-model="zoo.address.zipcode"
            v-mask="['#####-###']" 
            maxlength="9"
            required
          /> <p class="help is-danger">{{ errors[0] }}</p>
        </div>
        </ValidationProvider></div>

        <div class="column is-2">
          <label id="lbl_form">Endereço: <a class="asterisco">*</a></label>
           <ValidationProvider rules="required" name="Endereço">
            <div slot-scope="{errors}">
          <input
            type="text"
            :class="{'input': true, 'is-danger': errors[0] }"
            placeholder="Ex: Rua, Número, Bairro"
            id="input"
            style="width: 170px"
            v-model="zoo.address.street"
            required
          /><p class="help is-danger">{{ errors[0] }}</p>
          </div></ValidationProvider>
        </div>
        <div class="column is-2">
          <label id="lbl_form">Complemento:</label>
          <input
            type="text"
            class="input"
            placeholder="Ex: Perto da padaria"
            id="input"
            style="width: 170px"
          />
        </div>
        
      </div>
      <br>
        <div class="column is-12">
      <label class="subtitle" id="subtitle">
        Contato</label
      > </div>
      
    <div class="dados">



        <div class="column is-2">
          <label id="lbl_form">Nome contato: <a class="asterisco">*</a></label>
          <ValidationProvider rules="required" name="Nome">
            <div slot-scope="{errors}">
          <input
            type="text"
            :class="{'input': true, 'is-danger': errors[0] }"
            placeholder="Ex: José da Silva"
            id="input"
            style="width: 170px"
            v-model="additionalForm.contato1.name"
            required
          /><p class="help is-danger">{{ errors[0] }}</p>
            </div></ValidationProvider>
        </div>

        <div class="column is-2">
          <ValidationProvider rules="min:18|required" name="Telefone">
          <div slot-scope="{errors}">
          <label id="lbl_form">Telefone: <a class="asterisco">*</a></label>
          <input
            type="text"
           :class="{'input': true, 'is-danger': errors[0] }"
            placeholder="Ex: +55 (00) 00000-0000"
            id="input"
            style="width: 170px"
            v-model="additionalForm.contato1.phone"
            v-mask="['+55 (##) #####-####','+55 (##) ####-####']" 
            required
          /><p class="help is-danger">{{ errors[0] }}</p>
          </div>
          </ValidationProvider></div>
           <div class="column is-2">
          <label id="lbl_form">Nome contato 2:</label>
          <input
            name="name"
            type="text"
            class="input"
            placeholder="Ex: José da Silva"
            id="input"
            style="width: 170px"
            v-model="additionalForm.contato2.name"
            
          />
        </div>

        <div class="column is-2">
          <ValidationProvider rules="min:18" name="Telefone">
          <div slot-scope="{errors}">
          <label id="lbl_form">Telefone 2:</label>
          <input
            type="text"
            :class="{'input': true, 'is-danger': errors[0] }"
            placeholder="Ex: +55 (00) 00000-0000"
            id="input"
            style="width: 170px"
            v-model="additionalForm.contato2.phone"
            v-mask="['+55 (##) #####-####','+55 (##) ####-####']" 
          /><p class="help is-danger">{{ errors[0] }}</p>
          </div>
        </ValidationProvider></div>
      </div>
      
      <br>
    <div class="column is-12">
      <label class="subtitle" id="subtitle">
        Dados extras</label
      >
    </div>
    <div class="dados">
        <div class="column is-3">
        <label id="lbl_form">Valor do ingresso:</label><br>
        <input type="text" class="input" id="input" style="width: 170px" 
        placeholder="Ex: R$ 000,00"
        v-mask="['R$ ###,##']" v-model="additionalForm.ingresso"/>
      </div>
      <div class="column is-4">
        <label id="lbl_form">Horário de visitas:</label><br>
        <input type="text" class="input" id="input" style="width: 250px" 
        placeholder="Ex: Das 08:00 às 18:00, todos os dias." v-model="additionalForm.horario"/>
      </div>
      <div class="column is-4">
        <label id="lbl_form">Descrição/Apresentação do zoológico:</label><br>
        <input type="text" class="input" id="input" style="width: 400px" v-model="additionalForm.apresentacao" />
      </div>
      <div class="column is-5">
          
          <label id="lbl_form">Mapa do zoológico:</label>
          <input type="file" name="image" accept="image/png, image/jpeg, image/jpg" @change = "mapImage($event)" />
                   
        </div>
        <div class="column is-5">
          <label id="lbl_form">Avatar do zoológico:</label>
          <input type="file" name="image" accept="image/png, image/jpeg, image/jpg" @change = "avatarImage($event)"/>          
        </div>
    </div>
    <table id="table3" class="outro">
      <tr>
        <th>
          <button @click="newItem" class="button is-outlined" style="width: 150px" id="btn" >
            + Outro
          </button>
        </th>
      </tr>
      <tr v-for="(item, index) in zoo.additionalInfo" :key="index">
          <th>
            <label id="lbl_form">Assunto:</label><br>
            <input
              v-model="zoo.additionalInfo[index].title"
              type="text"
              class="input"
              id="input"
              style="width: 200px"
              placeholder="Digite o título do campo"
            />
          </th>
          <th>
            <label id="lbl_form">Descrição do assunto:</label><br>
            <input
              v-model="zoo.additionalInfo[index].info"
              type="text"
              class="input"
              id="input"
              style="width: 500px"
              placeholder="Digite as informações"
            />
        </th>
      </tr>
    </table>
        <!-- <th>
          <input
            type="text"
            class="input"
            id="input"
            style="width: 200px"
            placeholder="Digite o nome do campo"
          />
        </th>
        <th>
          <label style="font-size: 18px"
            >Tipo de dado a ser recebido no campo:</label
          >
        </th>
        <th>
          <input type="radio" id="numero" name="campo" />
          <label style="font-size: 18px">&nbsp;Numérico</label>
        </th>
        <th>
          <input type="radio" id="texto" name="campo" />
          <label style="font-size: 18px">&nbsp;Texto</label>
        </th>
        <th>
          <input type="radio" id="binario" name="campo" />
          <label style="font-size: 18px">&nbsp;Verdadeiro/falso</label>
        </th>
      </tr> -->
      <br/>
    
    <div class="botao">
      <button type="submit"
        class="button is-outlined"
        style="width: 300px"
        id="btn"
        @click="cadastrarzoo"
      >
        Confirmar
      </button>
    </div>

    
    </center>
    </ValidationObserver>
  </div>    
</template>
<script>

import {mask} from 'vue-the-mask'
import { cadastrarzoo } from "../services/auth.js";
export default {
  name: "Cadastro",
  data() {
    return {
      additionalForm: {
        ingresso: "",
        horario: "",
        apresentacao: "",  
        contato1: {
          name: "",
          phone:""
        },      
        contato2: {
          name: "",
          phone:""
        },
      },
      zoo: {
        name: "",
        cnpj: "",
        address: { zipcode: "", state: "", city: "", street: "" },
        email: "",
        password: "",
        confirm: "",
        contacts: [],
        avatarImage: "",
        mapImage: "",
        additionalInfo: [],
      },
      files:[],
      error: true,
      formErrors: {},
      submitted: false,
    };
  },
  methods: {
    
    newItem(){
      this.zoo.additionalInfo.push({title: "", info: "" });
    },

    avatarImage(event){
      console.log(event.target.files[0]);

      this.zoo.avatarImage = event.target.files[0];
    },
    mapImage(event){
      console.log(event.target.files[0]);
      this.zoo.mapImage = event.target.files[0];
    },
    async cadastrarzoo() {
      const testValidate = await this.$refs.observer.validate();
      if(testValidate)
      {
      console.log(this.zoo.email)
      const formData = new FormData();
      
      if(this.additionalForm.ingresso)
        this.zoo.additionalInfo.push({title: "Valor do Ingresso", info: this.additionalForm.ingresso});
      if(this.additionalForm.horario)
        this.zoo.additionalInfo.push({title: "Horário de Visita", info: this.additionalForm.horario});
      if(this.additionalForm.apresentacao)
        this.zoo.additionalInfo.push({title: "Apresentação do Zoológico", info: this.additionalForm.apresentacao});
        
      if(this.additionalForm.contato1)
        this.zoo.contacts.push({name: this.additionalForm.contato1.name, phone: this.additionalForm.contato1.phone});
      if(this.additionalForm.contato2.phone != "" && this.additionalForm.contato2.name != "")
        this.zoo.contacts.push({name: this.additionalForm.contato2.name, phone: this.additionalForm.contato2.phone});
      //console.log(this.zoo.additionalInfo)
    
     /* formData.set(
        "additionalInfo",
        JSON.stringify(Object.assign({}, this.zoo.additionalInfo))
      ); */
      
    /*  formData.set(
        "contacts",
        JSON.stringify(Object.assign({}, this.zoo.contacts))
      ); */

      formData.set(
        "address",
        JSON.stringify(Object.assign({}, this.zoo.address))
      );
      formData.set("contacts", JSON.stringify(this.zoo.contacts));
      formData.set("additionalInfo", JSON.stringify(this.zoo.additionalInfo));
      formData.set("avatarImage", this.zoo.avatarImage);
      formData.set("mapImage", this.zoo.mapImage);

      Object.keys(this.zoo).forEach((key) => {
        if (
          key !== "additionalInfo" &&
          key !== "contacts" &&
          key !== "address"
        ) {
          if (this.zoo[key] && this.zoo[key].length) {
            formData.set(key, this.zoo[key]);
          }
        }
      });

      if (this.password === this.confirm) {
        
        cadastrarzoo(formData)
          .then(() => {
            this.$swal('Cadastrado com sucesso!','Faça Login para acessar a página de gerenciamento','success');
            this.$router.push("/login")
          })
          .catch((error) => {
            this.$swal('Erro ao cadastrar zoológico','Por favor, cheque seus dados e tente novamente!','error')
            console.log(this.zoo.contacts);
            console.log(error)});

      }
      else
      {
        this.$swal('Erro ao cadastrar zoológico','As senhas não coincidem!','error')
      }
      }
      else
      {
        this.$swal('Erro ao cadastrar zoológico','Insira corretamente os valores nos campos!','error')
      }
    },
  },
  directives: {mask}
};


</script>

<style>
@import url(https://fonts.googleapis.com/css?family=Montserrat);
.title {
  font-size: 30px;
  align-self: center;
}

.imagem
{
  padding-left: 3%;
}

.outro {
  align-self: center;
}

.botao {
  align-self: center;
  margin-bottom: 3%;
}

.asterisco {
  color: red;
}

#checkbox {
  float: left;
}

.button {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 142, 6);
  font-size: 20px;
  font-family: Montserrat;
}

.button:hover {
  color: chartreuse;
}

#lbl_form
{
  font-weight: bold;
  font-size: 18px;
}

.app {
  font-family: Montserrat;
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 40px;
}

.column {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

.columns {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.dados {
  position: relative;
  font-family: Montserrat;
  color: rgb(156, 152, 152);
  text-align: center;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  padding: 4.125%;
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-self: center;
}

#nav {
  margin-top: 1%;
  justify-content: center;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 2%;
  background-color: lightgrey;
}

#imagem {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
  margin-top: 1%;
  margin-right: 6%;
}

#article {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
}

.subtitle {
  font-size: 30px;
  font-family: Montserrat;
  float: left;
  align-self: flex-start;
  width: 95%;
  text-align: left;
  margin-left: 3%;
  color: green;
  font-weight: bold;
}

.message-header2 {
  font-size: 20px;
  font-family: Montserrat;
  /*float: left;*/
  align-self: flex-start;
}

.message-header3 {
  font-size: 20px;
  font-family: Montserrat;
  /*float: left;*/
  align-self: flex-start;
}

.message-body {
  font-family: Montserrat;
  color: rgb(156, 152, 152);
  align-self: flex-start;
  text-align: left;
  margin-left: 3%;
  font-weight: bold;
  font-size: 20px;
}

#input {
  display: inline-block;
  width: 200px;
  text-align: left;
}

#lbl {
  display: inline-block;
  width: 140px;
  text-align: right;
}

#lblinicioa {
  display: inline-block;
  width: 54px;
  text-align: center;
}

#lbl2 {
  display: inline-block;
  width: 250px;
  text-align: left;
  font-weight: bold;
  font-size: 18px;
}
#table {
  display: inline-block;
  border-collapse: separate;
  border-spacing: 30px;
}

#table2 {
  display: inline-block;
  border-collapse: separate;
  border-spacing: 30px;
}

#table3 {
  display: inline-block;
  border-collapse: separate;
  border-spacing: 30px;
}

#checkbox {
  display: inline-block;
  width: 15px;
  text-align: left;
  padding: 10px;
}

#navbar {
  background-color: green;
}

#navbar-item {
  color: white;
  margin: 0 50px;
  margin-top: 3%;
}

#navbar-item-animals {
  color: white;
  margin: 0 50px;
  margin-top: 3%;
}

#navbar-image {
  color: white;
  margin: 0 50px;
  
}

#btn {
  background-color: green;
  color: white;
  border: green;
}

#button {
  margin-block-end: 2%;
  margin-block-start: 2%;
  background-color: green;
  color: white;
}

#button_confirmar {
  margin-block-end: 2%;
  background-color: green;
  color: white;
}

#checkbox {
  height: 20px;
  width: 20px;
}
</style>
