<template>
    <div class="carousel"  @keydown="checkSlide($event)" tabindex="0">
        <slot></slot>
            <button @click="next" class="next">&#10095;</button>
            <button @click="prev" class="prev">&#10094;</button>
    </div>
</template>
<script>
export default {
    data () {
        return {
            index : 0,
            slides : [],
            slideDirection: '',
        }
    },
    computed: {
        slidesLength() {
            return this.slides.length;
        }
    },
    mounted(){
        this.slides = this.$children;
        this.slides.map( (slide,index) => {
            slide.index = index;
        });
    },
    methods: {
        next(){
            this.$emit('next')
        },
        prev(){
            this.$emit('prev')
        },
        checkSlide(event){
            if(event.keyCode === 39){
                this.next();
            }else if (event.keyCode === 37){
                this.prev();
            }else {
                return;
            }
        },
    }
}
</script>
<style>
.carousel{
    position: relative;
    width: 600px;
    height: 350px;
    overflow: hidden;

}
.button {
  position: absolute;
  height: 40px;
  width: 50px;
  top: calc(50% - 20px);
  background-color: rgba(0, 0, 0, 0, 8);
  border: none;
  color: #fff;
}
button:active, button:hover {
    outline: none;
    cursor: pointer;
}

.next {
    right:0;
    position: absolute;
  height: 40px;
  width: 50px;
  top: calc(50% - 30px);
  background-color: white;
  border: none;
  color: #008e06;
}

.prev {
    left:0;
      position: absolute;
  height: 40px;
  width: 50px;
  top: calc(50% - 30px);
  background-color: white;
  border: none;
  color: #008e06;
}
</style>
