<template>
  <div class="EditarInst">
    <center>
    <ValidationObserver ref="observer">
    <br /><br />
    <label class="title">Editar dados da instituição</label><br /><br />
    <label class="subtitle" id="subtitle">Dados legais</label>
    <div class="dadosinstitucionais">
      <div class="column is-4">
        <label id="lbl_form">Nome: <a class="asterisco">*</a></label>
        &nbsp;
        <ValidationProvider name="Nome" rules="required">
          <div slot-scope="{errors}">
        <input
          type="text"
          :class="{'input': true, 'is-danger': errors[0] }"
          style="width: 190px"
          v-model="getzoo.name"
        /> <p class="help is-danger">{{ errors[0] }}</p>
          </div></ValidationProvider>
      </div>
      <div class="column is-4">
        <label id="lbl_form">CNPJ: <a class="asterisco">*</a></label>
        &nbsp;
        <ValidationProvider name="CNPJ" rules="min:18|required">
          <div slot-scope="{errors}">
        <input
          type="text"
          :class="{'input': true, 'is-danger': errors[0] }"
          style="width: 190px"
          v-mask="['##.###.###/####-##']" 
          required
          v-model="getzoo.cnpj"
        /><p class="help is-danger">{{ errors[0] }}</p>
          </div></ValidationProvider>
      </div>
    </div>
    <br /><br />
    <label class="subtitle" id="subtitle">Endereço</label>
    <div class="endereco">
      <div class="column is-5">
        <label id="lbl_form">Estado: <a class="asterisco">*</a></label>
                 <div class="select">
          <ValidationProvider name="Estado">
          <div slot-scope="{errors}">
          <select name="estados-brasil" v-model="getzoo.address.state" width="180px">
            <option value="AC">Acre</option>
            <option value="AL">Alagoas</option>
            <option value="AP">Amapá</option>
            <option value="AM">Amazonas</option>
            <option value="BA">Bahia</option>
            <option value="CE">Ceará</option>
            <option value="DF">Distrito Federal</option>
            <option value="ES">Espírito Santo</option>
            <option value="GO">Goiás</option>
            <option value="MA">Maranhão</option>
            <option value="MT">Mato Grosso</option>
            <option value="MS">Mato Grosso do Sul</option>
            <option value="MG">Minas Gerais</option>
            <option value="PA">Pará</option>
            <option value="PB">Paraíba</option>
            <option value="PR">Paraná</option>
            <option value="PE">Pernambuco</option>
            <option value="PI">Piauí</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="RN">Rio Grande do Norte</option>
            <option value="RS">Rio Grande do Sul</option>
            <option value="RO">Rondônia</option>
            <option value="RR">Roraima</option>
            <option value="SC">Santa Catarina</option>
            <option value="SP">São Paulo</option>
            <option value="SE">Sergipe</option>
            <option value="TO">Tocantins</option>
        </select> <p class="help is-danger">{{ errors[0] }}</p>
          </div></ValidationProvider>
</div>
      </div>
      <div class="column is-5">
        <label id="lbl_form">Cidade: <a class="asterisco">*</a></label>
        <ValidationProvider rules="required" name="Cidade">
            <div slot-scope="{errors}">
        <input
          type="text"
          :class="{'input': true, 'is-danger': errors[0] }"
          style="width: 190px"
          v-model="getzoo.address.city"
        /><p class="help is-danger">{{ errors[0] }}</p>
            </div></ValidationProvider>
      </div>
      <div class="column is-5">
        <label id="lbl_form">CEP: <a class="asterisco">*</a></label>
        <ValidationProvider rules="min:9|required" name="CEP">
            <div slot-scope="{errors}">
        <input
          type="text"
          :class="{'input': true, 'is-danger': errors[0] }"
          style="width: 195px"
            v-mask="['#####-###']" 
             v-model="getzoo.address.zipcode"
          required
        /><p class="help is-danger">{{ errors[0] }}</p>
            </div></ValidationProvider>
      </div>
      <div class="column is-5">
        <label id="lbl_form">Rua:<a class="asterisco">*</a></label>
        <ValidationProvider rules="required" name="Rua">
            <div slot-scope="{errors}">
        <input
          type="text"
          class="input"
          style="width: 180px"
          v-model="getzoo.address.street"
        /><p class="help is-danger">{{ errors[0] }}</p>
            </div></ValidationProvider>
      </div>
    
      <!--  <div
        class="column is-6"
        style="align-self: flex-start; align-content: flex-start"
      >
        <label id="lbl_form">Complemento:</label>
        <input
          type="text"
          class="input"
          style="width: 250px"
          v-model="zoocomplement"
        />
      </div> !-->
    </div>
    <br /><br />
    <label class="subtitle" id="subtitle">Contato</label>
    <div class="contato">
      <div class="column is-5">
    <label id="lbl_form">Nome do contato: <a class="asterisco"> *</a></label>
    <ValidationProvider rules="required" name="Nome de contato">
            <div slot-scope="{errors}">
        <input
          type="text"
          :class="{'input': true, 'is-danger': errors[0] }"
          placeholder="Insira o nome do contato"
          style="width: 190px"
          
          v-model="getzoo.contacts[0].name"
        /><p class="help is-danger">{{ errors[0] }}</p>
            </div></ValidationProvider>
      </div>
      <div class="column is-5">
        <label id="lbl_form">Telefone: <a class="asterisco">*</a></label>
        <ValidationProvider rules="min:18|required" name="Telefone">
            <div slot-scope="{errors}">
        <input
          type="text"
          :class="{'input': true, 'is-danger': errors[0] }"
          v-mask="['+55 (##) #####-####','+55 (##) ####-####']"  
          placeholder="Ex: +55 (00) 00000-0000"
          id="input"
          style="width: 190px"
          v-model="getzoo.contacts[0].phone"
        /><p class="help is-danger">{{ errors[0] }}</p>
            </div></ValidationProvider>
      </div>
    <div class="column is-5" v-if="contato2">
    <label id="lbl_form">Nome do contato 2:</label>
        <input
          type="text"
          class="input"
          placeholder="Insira o nome do contato"
          style="width: 190px"
          
          v-model="getzoo.contacts[1].name"
        />
      </div>
          <div class="column is-5" v-else>
    <label id="lbl_form">Nome do contato 2:</label>
        <input
          type="text"
          class="input"
          placeholder="Insira o nome do contato"
          style="width: 190px"
          
          v-model="additionalForm.contato2.name"
        />
      </div>
      <div class="column is-5" v-if="contato2">
        <label id="lbl_form">Telefone 2:</label>
        <ValidationProvider rules="min:18" name="Telefone">
            <div slot-scope="{errors}">
        <input
          type="text"
          :class="{'input': true, 'is-danger': errors[0] }"
          v-mask="['+55 (##) #####-####','+55 (##) ####-####']"  
          placeholder="Ex: +55 (00) 00000-0000"
          id="input"
          style="width: 190px"
          v-model="getzoo.contacts[1].phone"
        /><p class="help is-danger">{{ errors[0] }}</p>
            </div></ValidationProvider>
      </div>
      
        <div class="column is-5" v-else>
        <label id="lbl_form">Telefone 2:</label>
        <ValidationProvider rules="min:18" name="Telefone">
            <div slot-scope="{errors}">
        <input
          type="text"
          :class="{'input': true, 'is-danger': errors[0] }"
          v-mask="['+55 (##) #####-####','+55 (##) ####-####']"  
          placeholder="Ex: +55 (00) 00000-0000"
          id="input"
          style="width: 190px"
          v-model="additionalForm.contato2.phone"
        /><p class="help is-danger">{{ errors[0] }}</p>
            </div></ValidationProvider>
      </div>
      </div>
    <br /><br />
    <label class="subtitle" id="subtitle">Dados opcionais</label>
    <div class="opcionais">
      <div class="column is-12" v-for="(item, index) in getzoo.additionalInfo" :key="index">
                 
                    <label id="lbl_form">Assunto:</label>
                    <input v-model="getzoo.additionalInfo[index].title"
                      type="text"
                      class="input"
                      id="input"
                      style="width: 300px"
                      placeholder="Digite as informações">
                 
                 <label id="lbl_form">Descrição:</label>
                    <input
                      v-model="getzoo.additionalInfo[index].info"
                      type="text"
                      class="input"
                      id="input"
                      style="width: 300px"
                      placeholder="Digite as informações"
                    />
             
      </div>
      <div class="column is-5">
          <label id="lbl_form">Mapa do zoológico:</label>
          <input type="file" name="image" accept="image/png, image/jpeg, image/jpg" v-on:change="map($event)"/>          
        </div>
        <div class="column is-5">
          <label id="lbl_form">Avatar do zoológico:</label>
          <input type="file" name="image" accept="image/png, image/jpeg, image/jpg" v-on:change="avatar($event)"/>          
        </div>
    </div>
    <br /><br />
    <div class="botao">
      <button
        class="button is-outlined"
        style="width: 300px"
        id="btn"
        @click="editadados"
      >Salvar alterações</button>
      </div>
    </ValidationObserver>
    </center>
  </div>
  
</template>

<script>
import {mask} from 'vue-the-mask'
import { editarinst, consultZoo } from "../services/auth";
import { mapGetters, mapActions } from "vuex";

export default {
  name: "EditarInst",
  directives: {mask},

      data(){
        return{
          contato2: false,
           additionalForm: {    
            contato2: {
              name: "",
              phone:""
            },
      },
        }
      },
      created(){
      if(this.getzoo.contacts.length === 2)
            {
              this.contato2 = true;
            }
      },
      computed: {
          ...mapGetters({
            getUserID: "user/getUserID", 
            getUser: "user/getUser"
          }),
          

          getzooid()
          {
            return this.getUserID;
          },
          getzoo()
          {
            return this.getUser;          
          },
      },
  methods: {
    ...mapActions({
          setUser: "user/updateUser",
    }),

    map(event){
      console.log(event.target.files[0]);

      this.getzoo.map = event.target.files[0];
    },

    avatar(event){
      console.log(event.target.files[0]);

      this.getzoo.avatar = event.target.files[0];
    },

    async editadados() {
      const testValidate = await this.$refs.observer.validate();
      if(testValidate)
      {
      const formData = new FormData();

      if(this.additionalForm.contato2.name != "" && this.additionalForm.contato2.phone != "" )
        this.getzoo.contacts.push({name: this.additionalForm.contato2.name, phone: this.additionalForm.contato2.phone}); 

      this.getzoo.contacts.map((item, index)=>{
        delete this.getzoo.contacts[index]._id;
      })
        this.getzoo.additionalInfo.map((item, index)=>{
        delete this.getzoo.additionalInfo[index]._id;
      })

      formData.set(
        "address",
        JSON.stringify(Object.assign({}, this.getzoo.address))
      );
    
    formData.set("additionalInfo", JSON.stringify(this.getzoo.additionalInfo));

    formData.set("contacts", JSON.stringify(this.getzoo.contacts));

    formData.set("avatarImage", this.getzoo.avatar);

    formData.set("mapImage", this.getzoo.map);

       Object.keys(this.getzoo).forEach((key) => {
        if (
          key !== "additionalInfo" &&
          key !== "contacts" &&
          key !== "address" &&
          key !== "email" &&
          key !== "password" &&
          key !== "avatarImage" &&
          key !== "mapImage" &&
          key !== "_id"
        ) {
          if (this.getzoo[key] && this.getzoo[key].length) {
            formData.set(key, this.getzoo[key]);
          }
        }
      }); 
      editarinst(formData)
        .then(() =>{ 
          consultZoo(this.getzooid).then((res) => this.setUser(res[0]));
          this.$swal('Alterado com sucesso!','','success');
          this.$router.push({ path: "/listaanimais" });
        })
        .catch((error) => {this.$swal('Erro ao alterar os dados','','error'),
        console.log(error)});
    }
    else
    {
      this.$swal('Erro na edição','Por favor, insira corretamente os dados nos campos!','error');
    }
    },
  },
};
</script>
<style scoped>
@import url(https://fonts.googleapis.com/css?family=Montserrat);

.title {
  font-size: 30px;
}

.subtitle {
  font-size: 25px;
  font-family: Montserrat;
  margin-left: 10%;
  float: left;
  align-self: flex-start;
}

#subtitle {
  color: green;
}

.asterisco {
  color: red;
}

.column {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

#lbl_form
{
  font-size: 18px;
}

.EditarInst { 
  font-family: Montserrat;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

.dadosinstitucionais {
  position: relative;
  font-family: Montserrat;
  color: rgb(156, 152, 152);
  text-align: center;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  padding: 3.125%;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.control {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: center;
}

.control {
  width: 460px;
}

.form-gerenciar {
  height: 350px;
}

.endereco {
  position: relative;
  font-family: Montserrat;
  color: rgb(156, 152, 152);
  text-align: center;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  padding: 3.125%;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contato {
  position: relative;
  font-family: Montserrat;
  color: rgb(156, 152, 152);
  text-align: center;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  padding: 3.125%;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.opcionais {
  position: relative;
  font-family: Montserrat;
  color: rgb(156, 152, 152);
  text-align: center;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  padding: 3.125%;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.button {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 142, 6);
  font-size: 18px;
}

.botao {
  align-self: center;
  margin-bottom: 3%;
}
</style>