<template>
  <div class="app">
    <center>
    <ValidationObserver ref="observer">
    <br />
    <label class="title">Edição: {{ animals.name }}</label>
    <div class="column is-12">
      <label class="subtitle" id="subtitle">Instruções</label>
    </div>
    <br>
    <div class="message-body is-12">
      1. Realize as alterações desejadas<br />
      2. Confirme a edição para que os dados do animal sejam atualizados
    </div>
    <br />
    <div class="column is-12">
      <label class="subtitle" id="subtitle">
        Dados do animal 
      </label>
    </div>
    <div class="dados">
      <div class="columns is-12" id="columns">
        <div class="column is-3">
          <label id="lbl_form">Nome científico:</label>
          <ValidationProvider rules="required" name="Nome Científico">
          <div slot-scope="{errors}">
          <input
            type="text"
            :class="{'input': true, 'is-danger': errors[0] }"
            placeholder="Ex: Leontopithecus"
            id="input"
            style="width: 210px"
            v-model="animals.scientificName"
            required
          /><p class="help is-danger">{{ errors[0] }}</p>
          </div></ValidationProvider>
        </div>
        <div class="column is-3">
          <label id="lbl_form">Nome popular:</label>
          <ValidationProvider rules="required" name="Nome Popular">
          <div slot-scope="{errors}">
          <input
            type="text"
            :class="{'input': true, 'is-danger': errors[0] }"
            placeholder="Ex: Mico-Leão"
            id="input"
            style="width: 210px"
            v-model="animals.name"
            required
          /><p class="help is-danger">{{ errors[0] }}</p>
          </div></ValidationProvider>
        </div>
        <div class="column is-3">
          <label id="lbl_form"
            >Filo do animal:</label
          >
          <ValidationProvider rules="required" name="Filo">
          <div slot-scope="{errors}">
          <input
            type="text"
            :class="{'input': true, 'is-danger': errors[0] }"
            placeholder="Ex: Chordata"
            id="input"
            style="width: 210px"
            v-model="animals.phylum"
            required
          /><p class="help is-danger">{{ errors[0] }}</p>
          </div></ValidationProvider>
        </div>
        <div class="column is-3">
          <label id="lbl_form"
            >Classe do animal:</label
          >
          <ValidationProvider rules="required" name="Classe">
          <div slot-scope="{errors}">
          <input
            type="text"
            :class="{'input': true, 'is-danger': errors[0] }"
            placeholder="Ex: Mamífero"
            id="input"
            style="width: 210px"
            v-model="animals.className"
            required
          /><p class="help is-danger">{{ errors[0] }}</p>
          </div></ValidationProvider>
        </div>
        <div class="column is-3">
          <label id="lbl_form"
            >Habitat natural:</label
          >
          <ValidationProvider rules="required" name="Habitat">
          <div slot-scope="{errors}">
          <input
            type="text"
            :class="{'input': true, 'is-danger': errors[0] }"
            placeholder="Ex: Mata Atlântica"
            id="input"
            style="width: 210px"
            v-model="animals.habitat"
            required
          /><p class="help is-danger">{{ errors[0] }}</p>
          </div></ValidationProvider>
        </div>
        <div class="column is-3" id="columns">
          <label id="lbl_form"
            >Hábito alimentar:</label
          >
          <ValidationProvider rules="required" name="Alimentação">
          <div slot-scope="{errors}">
          <input
            type="text"
            :class="{'input': true, 'is-danger': errors[0] }"
            placeholder="Ex: Herbívoro"
            id="input"
            style="width: 210px"
            v-model="animals.alimentation"
            required
          /><p class="help is-danger">{{ errors[0] }}</p>
          </div></ValidationProvider>
        </div>
        <div class="column is-3" id="columns">
          <label id="lbl_form"
            >Hábito diurno/noturno:</label
          >
          <ValidationProvider rules="required" name="Hábito">
          <div slot-scope="{errors}">
          <input
            type="text"
            :class="{'input': true, 'is-danger': errors[0] }"
            placeholder="Ex: Diurno"
            id="input"
            style="width: 210px"
            v-model="animals.clockHabit"
            required
          /><p class="help is-danger">{{ errors[0] }}</p>
          </div></ValidationProvider>
        </div>

        <!--<div class="columns is-12">-->
        <div class="column is-3">
          <label id="lbl_form">Longevidade(anos):</label>
          <ValidationProvider name="Longevidade" rules="between:0,200">
          <div slot-scope="{errors}">
          <input
            type="number"
            :class="{'input': true, 'is-danger': errors[0] }"
            placeholder="Ex: 15"
            id="input"
            style="width: 210px"
            v-model="animals.lifeExpectancy"
            required
          /><p class="help is-danger">{{ errors[0] }}</p>
          </div></ValidationProvider>
        </div>
        <div class="column is-3">
          <label id="lbl_form">Foto do animal:</label>
          <input type="file" accept="image/png, image/jpeg, image/jpg" name="image" @change = "image($event)"/>          
        </div>
      </div>
    </div>
    <br>
    <div class="botao">
      <button
        class="button is-outlined"
        style="width: 300px"
        id="btn"
        @click="salvar"
      >
        Salvar alterações
      </button>
    </div>
    </ValidationObserver>
    </center>
  </div>
</template>
<script>
import { buscaranimal, editaranimal } from "../services/auth.js";
import { mapGetters } from "vuex";
import { mapActions } from "vuex";
export default {
  name: "EditarAnimal",
  
  data() {
    return {
      animals: {
        alimentation: "",
        className: "",
        clockHabit: "",
        habitat: "",
        lifeExpectancy: "",
        name: "",
        phylum: "",
        scientificName: "",
        image: "",
        token: "",
        zoo_id: "",
        animal_id: "",
        animal: {},
        changes: 0,
        },
      files:[],
    };
  },
  
  created(){
      this.animals_id = this.$route.params.id;

      this.token = localStorage.getItem("token");

      buscaranimal(this.animals_id, this.getzooid)
      .then((res) => { this.animals = res; console.log(this.animals)})
      .catch((error) => console.log(error));
  },
    computed: {
          ...mapGetters({
            getUserID: "user/getUserID", 
            getUser: "user/getUser"
          }),

          getzooid()
          {
            return this.getUserID;
          },

          getzoo()
          {
            return this.getUser;
          }
      },
  methods: {
    ...mapActions({
          setUser: "user/updateUser",
    }),

    image(event){
      console.log(event.target.files[0]);

      this.animals.image = event.target.files[0];
    },

    async salvar(){
      const testValidate = await this.$refs.observer.validate();
      if(testValidate)
      {
      const formData = new FormData();

      formData.set("image", this.animals.image);

      Object.keys(this.animals).forEach((key) => {
        if (key != "_id" && key != "getUserID" && key != "avatar" && key != "curiosities") {
          formData.set(key, this.animals[key]);
        }
      });

      console.log(formData);

      editaranimal(this.animals_id, formData)
      .then((res) => {
        console.log(res);

        this.$swal({
                text: "Dados alterados com sucesso!",
                icon: "success",
                showConfirmButton: false
              });
      })
      .catch((error) => {
        this.$swal({
          title: "Erro na edição de dados", 
          text: "Por favor, tente novamente! Se o erro persistir, entre em contato com o grupo Coffuel",
          icon: "error",
          showConfirmButton: false
        });
        console.log(error);
      });
    }
    else
    {
      this.$swal({
          title: "Erro na edição de dados", 
          text: "Insira todos os dados obrigatórios!",
          icon: "error",
          showConfirmButton: false
        });
    }

    }
  },
};
</script>

<style>
@import url(https://fonts.googleapis.com/css?family=Montserrat);

.title {
  font-size: 30px;
  align-self: center;
}

.subtitle {
  font-family: Montserrat;
  float: left;
  align-self: flex-start;
  width: 95%;
  text-align: left;
  margin-left: 3%;
}

#lbl_form
{
  font-size: 18px;
}

#subtitle {
  font-size: 30px;
  color: green;
}

.C {
  font-family: Montserrat;
  position: relative;
  top: 122.5%;
  transform: translateY(22.5%);
}

.control {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: center;
}

.control {
  width: 460px;
}

.form-gerenciar {
  height: 350px;
}

.app {
  font-family: Montserrat;
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.column {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 40px;
}

.columns {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.botao {
  align-self: center;
  margin-bottom: 3%;
}

.button {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 142, 6);
  font-size: 20px;
  font-family: Montserrat;
}

.button:hover {
  color: chartreuse;
}

.message-body {
  font-family: Montserrat;
  color: rgb(156, 152, 152);
  align-self: flex-start;
  text-align: left;
  margin-left: 3%;
  font-weight: bold;
  font-size: 20px;
}

#btn {
  background-color: green;
  color: white;
  border: green;
}

#button {
  margin-block-end: 2%;
  margin-block-start: 2%;
  background-color: green;
  color: white;
}

#button_confirmar {
  margin-block-end: 2%;
  background-color: green;
  color: white;
}
</style>