<template>
  <div class="gerenciar">
    
         
         
      <div class="image">
        <img src="../assets/gerenciar2.png" style="width: 300px; float: left; padding-top: 20% ">
      </div>
      <center>  
      <div class="form-gerenciar">
        <label class="title">Selecione a opção desejada</label><br><br><br><br> 
        <p class="control">
          <router-link to="/cadastroanimal">
            <a class="button is-outlined" style="width: 300px">Cadastrar animais</a>
          </router-link>          
        </p><br>
        <p class="control">
          <router-link to="/editarinst">
            <a class="button is-outlined" style="width: 300px">Editar dados da instituição</a>
          </router-link>
        </p><br>
        <p class="control">
          <router-link to="/listaanimais">
            <a class="button is-outlined" style="width: 300px">Lista de animais</a>
          </router-link>          
        </p>
        <br>
        <p class="control">
            <a class="button is-outlined" style="width: 300px" @click="excluir">Excluir cadastro</a>
        </p>
      </div>
      </center>
      <div class="image">
        <img src="../assets/gerenciar1.png" style="width: 400px; padding-top: 23.5%; float: right">
      </div>  
  </div>
</template>

<script>
import { deletezoo } from "../services/auth.js";

export default {
    name: "Gerenciar",

    methods: {
      excluir(){
        this.$swal({
          title: "Deseja mesmo excluir seu cadastro na plataforma Zoodex?",
          text: "Você perderá todos os dados já cadastrados e o acesso ao aplicativo",
          icon: "warning",
          showCancelButton: true,
          cancelButtonText: "Cancelar",
          confirmButtonText: "Excluir",
          closeOnCancel: true
        }).then((result) => {
          if(result.value){
            deletezoo()
            .then(() => {
              this.$swal({
                title: "Sua conta acaba de ser excluída",
                text: "Infelizmente, você perdeu o acesso aos recursos do Zoodex. Mas esperamos seu retorno!",
                icon: "success",
                showConfirmButton: false
              });

              this.$router.push("/");
            })
            .catch((error) => {
              this.$swal({
                title: "Erro na exclusão", 
                text: "Por favor, tente novamente! Se o erro persistir, entre em contato com o grupo Coffuel",
                icon: "error",
                showConfirmButton: false
              });
              console.log(error);
            })
          }
        })
      }
    }
}
</script>

<style scoped>

@import url(https://fonts.googleapis.com/css?family=Montserrat);

.title{
  font-size: 30px;
}


.gerenciar{
  font-family: Montserrat;
  position: relative;
  top: 105%;
  transform: translateY(5%);
}

.control {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: center;
}

.control {
  width: 460px;
}

.form-gerenciar{
  height: 340px;
  float: left;
  margin-left: 11%;
  margin-top: 5%;
}

.button{
  color: rgb(255, 255, 255);
  background-color: rgb(0, 142, 6); 
  font-size: 20px;
}
</style>