<template>

  <div style="margin-top:3%">
    <div class="column is-12">
      <div class="card">
      <div class="slider">
      <div class="columns is-12" id="columns" >
        <div class="column is-4">
          <img src="../assets/zoodex_logosize.png" width="300px"/>
        </div>
        <div class="column is-8">
          <p style="text-align:center; color:black; font-size: 25px; padding-top: 11%">
            Zoodex, o sistema que torna as visitas aos zoológicos mais interativas e dinâmicas, 
            aproximando o zoo da realidade tecnológica de seus visitantes</p>
        </div>
      </div> 
      </div>
      </div>
      </div>
    <div class="column is-12" >
      <div class="card" style="background-color: #008e06">
        <div class="column is-4">
          <label class="subtitle" id="subtitle" style="color: white">O sistema</label>
          <center>
          <div class="card-content">
            <div class="content">
              <carousel class="botao-prev-next" @next="next" @prev="prev">
              <carousel-slide v-for="(slide,index) in slides" :key="slide" :index="index" :visibleSlide="visibleSlide" :direction="direction" class="carousel-slider" >
                <img :src="slide" style="height:70%; width: 70%"/>
              </carousel-slide>
              </carousel>  
            </div>
          </div>
          </center>
        </div> 
        <div class="column is-8" style="padding-top: 12%; padding-right: 5%">
          <p style="text-align:center; color:white; font-size: 20px">
            O sistema Zoodex engloba um site e um aplicativo mobile.
          </p>
          <br><br>
          <p style="text-align:center; color:white; font-size: 20px">
            O site é destinado aos administradores dos zoológicos e apresenta função de gerenciamento,
             oferecendo serviços de cadastro, alteração e exclusão de dados.
          </p>
          <br><br>
          <p style="text-align:center; color:white; font-size: 20px">
            Já o aplicativo funciona com base na leitura de QR Codes que trazem informações 
            sobre os animais do zoo em formato virtual. Além disso, ele conta com um chat e um sistema de ranking para melhorar a experiência dos visitantes do zoo
          </p>
        </div>
      </div> 
  </div>
    <div class="column is-12">
          <div class="card">
        
      <label class="subtitle" id="subtitle">Vídeo comercial </label>
      <div class="slider">
      <div class="columns is-12" id="columns">
        <video width="750"  controls>
          <source src="../imagensSlider/filme.mp4" type="video/mp4">
        </video>
      </div>
      </div> 
      </div>
      </div>
     <div class="column is-12">
       <div class="card" style="background-color: #008e06">
      <label class="subtitle" id="subtitle" style="color: white; padding: 1%">Desenvolvedores</label>
      <div class="column is-12" id="column" style="padding-bottom: 3%">
        <img src="../imagensSlider/desenvolvedores_.jpg" style="text-align:center; width: 80%">
        <p style="color: white; font-size: 20px">Da esquerda para a direita: Gustavo Godoi, Gabriela Zapater, Lucas Patrocínio, Luisa Freitas, Rafael Sartori,</p>
        <p style="color: white; font-size: 20px">Ana Clara Midena, Eduardo Lopes, Mariana Camargo, Fernanda Digieri</p>
      </div>
      <br>
    
      </div> </div>
  </div>
  
</template>
<script>
import Carousel from './Carousel.vue';
import CarouselSlide from './CarouselSlide';
export default {
    data(){
        return {
            slides: [
                'https://res.cloudinary.com/dwgb2o5lx/image/upload/v1605189676/FotosSite/1_qgbcow.jpg',
                'https://res.cloudinary.com/dwgb2o5lx/image/upload/v1605189676/FotosSite/2_kpwpom.jpg',
                'https://res.cloudinary.com/dwgb2o5lx/image/upload/v1605189676/FotosSite/3_vsjscv.jpg',
                'https://res.cloudinary.com/dwgb2o5lx/image/upload/v1605189676/FotosSite/4_t3ktiw.jpg',
                'https://res.cloudinary.com/dwgb2o5lx/image/upload/v1605189676/FotosSite/5_beolfr.jpg',
                'https://res.cloudinary.com/dwgb2o5lx/image/upload/v1605189676/FotosSite/6_kyxqnn.jpg',
                'https://res.cloudinary.com/dwgb2o5lx/image/upload/v1605189677/FotosSite/7_fdmn9a.jpg',
                "https://res.cloudinary.com/dwgb2o5lx/image/upload/v1605189677/FotosSite/9_latp8v.jpg",
                "https://res.cloudinary.com/dwgb2o5lx/image/upload/v1605189677/FotosSite/10_rxgchb.jpg",
                
            ],
            visibleSlide : 0,
            direction: "left",
        }
    },
    computed:{
      slidesLen(){
        return this.slides.length;
      }
    },
    methods:{
        next(){
          if(this.visibleSlide >= this.slidesLen -1 ){
            this.visibleSlide=0;
          }
          else{
            this.visibleSlide++;
          }
          this.direction = "left"
        },
        prev(){
        if(this.visibleSlide <= 0 ){
            this.visibleSlide= this.slidesLen - 1;
          }
          else{
            this.visibleSlide--;
          }
          this.direction = "right"
        },
    },
    components : {
        Carousel,
        CarouselSlide,
    }
}
</script>

<style scoped>
@import url(https://fonts.googleapis.com/css?family=Montserrat);
.image{
  width: 20%;
  height: 20%;
}
.app{
  display:flex;
  justify-content: center;
}
.carousel {
  position:relative;
  overflow: hidden;
  width:300px;
  height:500px;
  z-index:10;
}
.btn {
  padding:5px 10px;
  background-color:rgba(0,0,0,0.5);
  border:1px solid transparent;
  margin:5px 10px;
  color:#FFF;
  height:50px;
  width:50px;
  position:absolute;
  margin-top:-25px;
  z-index:2;
}
.btn:hover {
  cursor: pointer;
}
.btn:focus{
  outline:none;
}
.btn-next {
  top:50%;
  right:0;
}
.btn-prev {
  top:50%;
  left:0;
}
.carousel-slider img {
  height: 100%;
  width: 100%;
}
.title {
  font-size: 30px;
  align-self: center;
  font-family: Montserrat;
}
.imagem
{
  padding-left: 3%;
}
.column {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: flex-start;
}
.outro {
  align-self: center;
}
.botao {
  align-self: center;
  margin-bottom: 3%;
}
.asterisco {
  color: red;
}
#checkbox {
  float: left;
}
.button {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 142, 6);
  font-size: 20px;
  font-family: Montserrat;
}
.button:hover {
  color: chartreuse;
}
#lbl_form
{
  font-weight: bold;
  font-size: 18px;
}
.app {
  font-family: Montserrat;
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 40px;
}
.columns, .card {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;
}
.dados {
  position: relative;
  font-family: Montserrat;
  color: rgb(156, 152, 152);
  text-align: center;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  padding: 4.125%;
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-self: center;
}
.slider{
    position: relative;
  font-family: Montserrat;
  color: rgb(156, 152, 152);
  text-align: center;
  padding: 4.125%;
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-self: center;
}
#nav {
  margin-top: 1%;
  justify-content: center;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 2%;
  background-color: lightgrey;
}

#imagem {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
  margin-top: 1%;
  margin-right: 6%;
}

#article {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
}

.subtitle {
  font-size: 30px;
  font-family: Montserrat;
  float: left;
  align-self: flex-start;
  width: 95%;
  text-align: left;
  margin-left: 3%;
  color: green;
  font-weight: bold;
}

.message-header2 {
  font-size: 20px;
  font-family: Montserrat;
  /*float: left;*/
  align-self: flex-start;
}

.message-header3 {
  font-size: 20px;
  font-family: Montserrat;
  /*float: left;*/
  align-self: flex-start;
}

.message-body {
  font-family: Montserrat;
  color: rgb(156, 152, 152);
  align-self: flex-start;
  text-align: left;
  margin-left: 3%;
  font-weight: bold;
  font-size: 20px;
}

#input {
  display: inline-block;
  width: 200px;
  text-align: left;
}

#lbl {
  display: inline-block;
  width: 140px;
  text-align: right;
}

#lblinicioa {
  display: inline-block;
  width: 54px;
  text-align: center;
}

#lbl2 {
  display: inline-block;
  width: 250px;
  text-align: left;
  font-weight: bold;
  font-size: 18px;
}
#table {
  display: inline-block;
  border-collapse: separate;
  border-spacing: 30px;
}

#table2 {
  display: inline-block;
  border-collapse: separate;
  border-spacing: 30px;
}

#table3 {
  display: inline-block;
  border-collapse: separate;
  border-spacing: 30px;
}

#checkbox {
  display: inline-block;
  width: 15px;
  text-align: left;
  padding: 10px;
}

#navbar {
  background-color: green;
}

#navbar-item {
  color: white;
  margin: 0 50px;
  margin-top: 3%;
}

#navbar-item-animals {
  color: white;
  margin: 0 50px;
  margin-top: 2%;
}

#navbar-image {
  color: white;
  margin: 0 50px;
  
}

#btn {
  background-color: green;
  color: white;
  border: green;
}

#button {
  margin-block-end: 2%;
  margin-block-start: 2%;
  background-color: green;
  color: white;
}

#button_confirmar {
  margin-block-end: 2%;
  background-color: green;
  color: white;
}

#checkbox {
  height: 20px;
  width: 20px;
}

</style>
