<template>
  <div class="columns-listar-animais">


    <div class="column is-8" v-for="animal in animals" :key="animal._id">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image">
                <img class="image is-128x128 is-rounded" v-if="animal.avatar" :src="animal.avatar"/>
                <img class="image is-128x128 is-rounded" v-else src="../assets/avatar-animal-padrao.png"/>
              </figure>
            </div>
            <div class="content" style="padding-left:30%">
              <br>
              <p class="title is-4" >{{ animal.name }}</p>
              <p class="title is-6" style="font-style: italic; color: gray">{{ animal.scientificName }}</p>
            </div>
          </div>
          <div class="content">
            <footer class="card-footer">
                <a id="button" class="card-footer-item" @click="edit(animal._id)">Editar</a>
                <a id="button" class="card-footer-item" @click="exclude(animal._id)">Excluir</a>
                <a id="button" class="card-footer-item" @click="qrcode(animal._id)">Visualizar QR Code</a>
              </footer>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import { listAnimals, deleteanimal } from "../services/auth.js";
import { mapGetters } from "vuex";
import { mapActions } from "vuex";

export default {
  name: "ListaAnimais",

  data: () => ({
    animals: [],
    id_zoo: "",
  }),

  computed: {
      ...mapGetters({
        getUserID: "user/getUserID", 
        getUser: "user/getUser"
      }),

      getzooid()
      {
        return this.getUserID;
      }
  },

  created(){

    listAnimals(this.getzooid)
      .then((res) => {
        this.animals = res;
        if(this.animals.length === 0)
        {
        this.$swal({
        title: "Nenhum animal cadastrado",
        text: "Cadastre alguns animais e volte mais tarde ;)",
        icon: "warning"
        })
        this.$router.push("/cadastroanimal/");

        }
        console.log(this.animals);
      })
      .catch((error) => console.log(error));
  },

  methods: {

    ...mapActions({ //////////////////////////////caralho
          setUser: "user/updateUser",
    }),

    edit(id) {
      this.$router.push("/editaranimal/" + id);
    },

    exclude(id){
      this.$swal({
        title: "Deseja mesmo excluir esse animal do seu zoológico?",
        text: "Você terá que o cadastrar novamente se quiser recuperá-lo",
        icon: "warning",
        showCancelButton: true,
        cancelButtonText: "Cancelar",
        confirmButtonText: "Excluir",
        }).then((result) => {
          if(result.value){
            deleteanimal(id)
            .then(() => {
              console.log(id);
              this.$swal({
                text: "Animal excluído com sucesso!",
                icon: "success",
                showConfirmButton: false
              });
              location.reload();
            })
            .catch((error) => {
              this.$swal({
                title: "Erro na exclusão", 
                text: "Por favor, tente novamente! Se o erro persistir, entre em contato com o grupo Coffuel",
                icon: "error",
                showConfirmButton: false
              });
              console.log(error);
            })
          }
        })
    },

    qrcode(id){
      this.$router.push("/qrcode/" + id);
    },

  },
};
</script>

<style>
.columns-listar-animais {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  font-family: Montserrat;
  padding: 30px;
}

.column {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: flex-start;
}

.media{
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
} */

#button {
  background-color: rgb(0, 142, 6);
}
</style>