<template>
  <div class="columns-listar-zoos">

    <div class="column is-10" v-for="zoo in zoos" :key="zoo._id">
      <div class="card" id="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left"> 
              <figure class="image">
                <img class="image is-128x128 is-rounded" v-if="zoo.avatar" :src="zoo.avatar" />
                <img class="image is-128x128 is-rounded" v-else src="../assets/avatar-zoo-padrao.png"/>
              </figure>
            </div>
            <div class="content" style="width: 800px; height: 128px; padding-top: 2%">
              <p class="title is-4" id="zooName">{{ zoo.name }}</p>
              <p class="title is-6" id="title">Endereço: {{ zoo.address.street }} / {{ zoo.address.city }} / {{ zoo.address.state }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import { consultAllZoo } from "../services/auth.js";

export default {
  name: "ListaZoologicos",

  data(){
    return{
        zoos: []
    }
  },

  created(){
      consultAllZoo()
      .then((res) => {
        this.zoos = res
        if(this.zoos.length === 0)
        {
          this.$swal({
          title: "Ainda não temos parceiros",
          text: "Mas você pode ser nosso primeiro! Volte ao Início e conheça melhor o sistema Zoodex!",
          icon: "warning"
          })
          this.$router.push("/");
        }
        console.log(this.zoos);
      })
      .catch((error) => console.log(error));
  }
};
</script>

<style>
.columns-listar-zoos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;

  font-family: Montserrat;

  padding: 30px;
}

.column {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: center;
}

#card{
  background-color:#82b74b;
}

#zooName{
  color: #1a240f;
}

#title{
  color: white;
}
</style>