<template>
  <div class="columns-login">
    <div class="column is-6">
      <img src="../assets/login.png" />
    </div>

    <div class="column is-5">
      <div class="form-login">
        <div class="control">
          <label class="title">Login</label>
        </div>

        <div class="control has-icons-left">
          <input
            class="input"
            type="email"
            placeholder="Email"
            v-model="login.email"
            required
          />
          <span class="icon is-small is-left">
            <font-awesome-icon icon="envelope" />
          </span>
        </div>

        <div class="control has-icons-left">
          <input
            class="input"
            type="password"
            placeholder="Senha"
            v-model="login.password"
            required
          />
          <span class="icon is-small is-left">
            <font-awesome-icon icon="lock" />
          </span>
        </div>

        <p class="control">
          <a
            class="button is-outlined"
            style="width: 460px"
            @click="access"
            id="button"
            >Entrar</a
          >
        </p>

        <div class="control">
          <router-link to="/recuperar-senha">
            <a class="link-esqueci-senha">Esqueceu sua senha?</a>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { login } from "../services/auth.js";
import { mapActions } from "vuex";

export default {
  name: "Login",

  data: () => ({
    login: {
      email: "",
      password: "",
    },
    error: true,
    frmErrors: {},
    showPassword: false,
  }),
 methods: {
      ...mapActions({
        setUser: "user/updateUser",
        setToken: "user/updateToken"
      }),
      access() {
        login(this.login.email, this.login.password)
        .then(({ zoo, token }) => {
          this.setToken({token});
          this.setUser(zoo);

          this.$router.push({ path: "/listaanimais" });
        })
        .catch((error) => {
          this.$swal({
            icon: 'error',
            title: 'Erro ao efetuar Login',
            text: 'Por favor, verifique suas credenciais',
            confirmButtonColor: "#008e06"
          })
          console.log(error)});
      }
  }
};
</script>

<style>
@import url(https://fonts.googleapis.com/css?family=Montserrat);

.columns-login {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  font-family: Montserrat;
  height: 605px;
}

.column,
.control {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: center;
}

.control {
  width: 460px;
}

.form-login {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: space-around;
  height: 350px;
}

.title {
  font-size: 30px;
}

.link-esqueci-senha {
  /*color: #19b366;*/
  color: #008e06;
  border-color: #008e06;
  font-size: 17px;
}

#button {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 142, 6);
  font-size: 17px;
}
</style>
