<template>
  <div class="column is-12" style="padding-top: 4%">
      <qrcode-vue :value="link()" :size="size" level="H"></qrcode-vue>
  </div>
</template>

<script>
import QrcodeVue from 'qrcode.vue';

export default {
  name: "QRcode",

  components: {
    QrcodeVue,
  },

  data: () => ({
    size: 500,
    id: "",
  }),

  created(){
    this.id = this.$route.params.id;
  },

  methods:{
      link(){
        return "zoodex://" + this.id;
      }
  }
};
</script>

<style>
@import url(https://fonts.googleapis.com/css?family=Montserrat);

.columns-login {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  font-family: Montserrat;
  height: 605px;
}

.column,
.control {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: center;
}

.control {
  width: 460px;
}

.form-login {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: space-around;
  height: 350px;
}

.title {
  font-size: 30px;
}

.link-esqueci-senha {
  /*color: #19b366;*/
  color: #008e06;
  border-color: #008e06;
  font-size: 17px;
}

#button {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 142, 6);
  font-size: 17px;
}
</style>
