<template>
  <div class="columns-recuperar-senha">
    <div class="column is-6">
      <img src="../assets/caixa-email.png" />
    </div>

    <div class="column is-6">
      <div class="form-recuperar-senha">
        <div class="control">
          <label class="title"
            >Recuperação de Senha</label
          >
        </div>

        <div class="control has-icons-left">
          <input
            class="input"
            type="email"
            placeholder="Digite seu e-mail"
            v-model="email"
            required>
          <span class="icon is-small is-left">
            <font-awesome-icon icon="paper-plane" />
          </span>
        </div>

        <div class="control">
          <a
            class="button is-outlined"
            style="width: 460px"
            @click="recovery"
            id="button"
            >Recuperar</a
          >
        </div>
        <div class="control">
          <router-link to="/login">
            <a class="link-voltar">Voltar ao login</a>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { recoveryPassword } from "../services/auth.js";

export default {
  name: "RecuperarSenha",

  data: () => ({
    email: "",
  }),

  methods: {
    recovery() {
        recoveryPassword(this.email)
          .then(( res ) => {
            if (res.error === "No zoo found with that email") {
              this.$swal('Email não encontrado','Por favor, digite um e-mail cadastrado no sistema','error')
              
            } else {
              this.$swal('E-mail enviado com sucesso!','Verifique sua caixa de entrada','success')
            }
            
            this.$forceUpdate();
          })
          .catch((error) => {
            this.$swal('Erro ao enviar o email de recuperação de senha','Se o erro persistir, entre em contato com o grupo Coffuel','error')
            console.log(error)
          });
    },
  },
};
</script>

<style>
@import url(https://fonts.googleapis.com/css?family=Montserrat);

.columns-recuperar-senha {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  font-family: Montserrat;
  height: 605px;
}

.column,
.control {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: center;
}

.control {
  width: 460px;
}

.form-recuperar-senha {
  display: flex;
  flex-direction: line;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  height: 275px;
}

.title {
  font-size: 30px;
}

.text {
  font-size: 20px;
}

#button {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 142, 6);
  font-size: 18px;
}

.link-voltar {
  /*color: #19b366;*/
  color: #008e06;
  border-color: #008e06;
  font-size: 17px;
}
</style>
