<template>
  <div class="columns-recuperar-senha" >
    <ValidationObserver ref="observer">
      <div class="columns">
      <div class="column is-6">
        <img src="../assets/senha.png" />
      </div>

      <div class="column is-6">
        <div class="form-recuperar-senha">
          <div class="control">
            <label class="title">Redefinição de Senha</label>
          </div>

          <div class="control has-icons-left">
            <ValidationProvider name="Senha" rules="required|min:5|max:15">
              <div slot-scope="{ errors }">
                <input
                  :class="{ input: true, 'is-danger': errors[0] }"
                  type="text"
                  placeholder="Digite sua nova senha"
                  v-model="password"
                  minlength="5"
                  maxlength="15"
                  required
                />
                <p class="help is-danger">{{ errors[0] }}</p>
              </div>
            </ValidationProvider>
            <span class="icon is-small is-left">
              <font-awesome-icon icon="lock" />
            </span>
          </div>

          <div class="control">
            <a
              class="button is-outlined"
              style="width: 460px"
              @click="reset"
              id="button"
              >Redefinir</a
            >
          </div>

          <div class="control">
            <router-link to="/login">
              <a class="link-voltar">Voltar ao login</a>
            </router-link>
          </div>
        </div>
      </div>
      </div>
    </ValidationObserver>
  </div>
</template>

<script>
import { resetPassword } from "../services/auth.js";

export default {
  name: "RedefinirSenha",

  data: () => ({
    password: "",
    newPassword: false,
  }),

  methods: {
    async reset() {
      const testValidate = await this.$refs.observer.validate();
      if (testValidate) {
        const token = this.$route.params.token;

        resetPassword(token, this.password)
          .then(() => {
            this.$swal({
              title: "Senha alterada com sucesso!",
              text: "Faça Login com sua nova senha",
              icon: "success",
              showConfirmButton: true,
            });
            this.$router.push("/login");
          })
          .catch((error) => {
            console.log(error);
            this.$swal({
              title: "Erro ao redefinir senha",
              text: "Se o erro persistir, entre em contato com o grupo Coffuel",
              icon: "error",
            });
          });

        this.$forceUpdate();
      } else {
        this.$swal({
          title: "Erro ao redefinir senha",
          text: "Insira uma senha válida (entre 5 e 15 caracteres)",
          icon: "error",
        });
      }
    },
  },
};
</script>

<style>
@import url(https://fonts.googleapis.com/css?family=Montserrat);

.columns-recuperar-senha {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  font-family: Montserrat;
  height: 605px;
}

.column,
.control {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: center;
}

.control {
  width: 460px;
}

.form-recuperar-senha {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  height: 275px;
}

.title {
  font-size: 30px;
}

.text {
  font-size: 20px;
}

#button {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 142, 6);
  font-size: 18px;
}

.link-voltar {
  /*color: #19b366;*/
  color: #008e06;
  border-color: #008e06;
  font-size: 17px;
}
</style>
