<template>
<div>
  <nav
    class="navbar is-transparent"
    role="navigation"
    aria-label="dropdown navigation"
    id="navbar">

    <router-link to="/">
      <img src="../assets/zoodex_logosize.png" style="height: 52px; margin-left: 20px; margin-right: 10px"/>
    </router-link>

      <router-link to="/">
        <a class="navbar-item" id="navbar-item-animals" style="margin-top: 5%">Início</a>
      </router-link>

      <router-link v-if="!getCurrentZoo" to="/cadastro">
        <a class="navbar-item" id="navbar-item-animals">Junte-se a nós</a>
      </router-link>

      <router-link v-if="getCurrentZoo" to="/cadastroanimal">
        <a class="navbar-item" id="navbar-item-animals">Cadastrar Animal</a>
      </router-link>

      <router-link v-if="!getCurrentZoo" to="/listazoologicos">
        <a class="navbar-item" id="navbar-item-animals">Nossos parceiros</a>
      </router-link>

      <router-link v-if="getCurrentZoo" to="/listaanimais">
        <a class="navbar-item" id="navbar-item-animals">Listagem de Animais</a>
      </router-link>

      <router-link v-if="!getCurrentZoo" to="/login">
        <a class="navbar-item" id="navbar-item-animals" style="margin-top: 5%">Login</a>
      </router-link>
      
      <div v-else >
      <div class="navbar-item" id="navbar-item-animals">

      <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
          <button class="btn" id="btn" aria-haspopup="true" aria-controls="dropdown-menu3">
            <p style="font-size: 16px">Olá, {{getzooname}}!</p>
            <span class="icon is-small">
               <font-awesome-icon icon="angle-down" />
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu3" role="menu">
          <div class="dropdown-content" style="width: 170px">
            <a href="/editarinst" class="dropdown-item">
              Editar cadastro
            </a>
            <a @click="excluir" class="dropdown-item">
              Excluir cadastro
            </a>
            <a @click="qrcode" class="dropdown-item">
              Visualizar QR Code
            </a>
            <hr class="dropdown-divider">
            <a @click="logout" class="dropdown-item">
              Logout
            </a>
          </div>
        </div>
      </div>
      </div>
   </div>
  </nav>
  </div>
</template>

<script>
import {deletezoo} from "../services/auth.js";
import { mapGetters } from "vuex";
import { mapActions } from "vuex";
export default {
  computed: {
    getCurrentZoo() {
      if (this.getUserID == null || this.getUserID == "")
        return false;
      return true;
    },
      ...mapGetters({
        getUserID: "user/getUserID", 
        getUser: "user/getUser"
      }),

      getzooname()
      {
        return this.getUser.name;
      }
  },
  

  methods: {
    ...mapActions({
        resetUser: "user/resetUser",
        resetToken: "user/resetToken"
      }),

    logout() {
      this.resetUser();
      this.resetToken();
      this.$router.push({path:"/login"});
    },

   excluir(){
        this.$swal({
          title: "Deseja mesmo excluir seu cadastro na plataforma Zoodex?",
          text: "Você perderá todos os dados já cadastrados e o acesso ao aplicativo",
          icon: "warning",
          showCancelButton: true,
          cancelButtonText: "Cancelar",
          confirmButtonText: "Excluir",
          closeOnCancel: true
        }).then((result) => {
          if(result.value){
            deletezoo()
            .then(() => {
              this.$swal({
                title: "Sua conta acaba de ser excluída",
                text: "Infelizmente, você perdeu o acesso aos recursos do Zoodex. Mas esperamos seu retorno!",
                icon: "success",
                showConfirmButton: false
              });
              this.resetUser();
              this.resetToken();
              this.$router.push({path:"/"});
            })
            .catch((error) => {
              this.$swal({
                title: "Erro na exclusão", 
                text: "Por favor, tente novamente! Se o erro persistir, entre em contato com o grupo Coffuel",
                icon: "error",
                showConfirmButton: false
              });
              console.log(error);
            })
          }
        })
      },

      qrcode(){
        this.$router.push("/qrcode/" + this.getUserID)
      }

  },
  watch: {
    getCurrentZoo: function() {
      this.$forceUpdate();
    }
  },
  created(){
    this.zooname=JSON.parse(localStorage.getItem("zoo")).name;
  },
};
</script>

<style>
@import url(https://fonts.googleapis.com/css?family=Montserrat);

.navbar,.btn {
  font-family: Montserrat;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

#btn{
  background-color: rgb(0, 142, 6);
  color:white;
  text-align: justify;
}
</style>
